@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800;900|Roboto:wght@100;300;400;500;700;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none; /*quitamos el subrayado de los enlaces */
    list-style: none; /*quitamos los puntos de los enlaces*/
    font-family: 'Exo 2', sans-serif;

}

header {
    background-color: black;
    height: 7rem;
    display: flex;
    justify-content: center; /* Centramos horizontalmente los elementos */
    align-items: center;
    padding: 0 1rem;
}

.menu.contenedor {
    width: 100%; /* Ajustamos el ancho al 100% para ocupar toda la barra de navegación */
    display: flex;
    justify-content: space-between; /* Distribuimos los elementos a lo largo de la barra */
    align-items: center;
}

.logo {
    /* flex: 1; */
}

.navbar {
    /* flex: 2; */
    text-align: center;
}

.navbar ul {
    list-style: none;
    padding: 0;
}

.navbar ul li {
    display: inline;
    margin-right: 9rem;
}

.navbar ul li:last-child {
    margin-right: 0;
}

.navbar ul li a {
    color: #f8b020;
    text-decoration: none;
}

.boton_login {
    margin-right: 25px;
    text-align: right;
}

.boton_login a {
    color: #f8b020;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border: 1px solid #f8b020;
    border-radius: 4px;
}

.boton_login a:hover {
    background-color: #f8b020;
    color: black;
}

.boton_menu {
    position: relative;
}

.boton_menu_icono {
width: 40px;
height: 40px;
background-color: #f8b020;
color: white;
border: none;
border-radius: 50%;
font-size: 24px;
cursor: pointer;
}

.menu_desplegable {
position: absolute;
top: 40px;
right: 0;
background-color: #f8b020;
border-radius: 5px;
display: none;
}

.menu_desplegable ul {
list-style-type: none;
padding: 0;
margin: 0;
}

.menu_desplegable ul li {
padding: 10px;
}

.menu_desplegable ul li a {
color: white;
text-decoration: none;
display: block;
}

.boton_menu:hover .menu_desplegable {
display: block;
}








/* BODY - CHAT*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

.chat-container {
    display: flex;
    max-width: 800px;
    max-height: 500px;
    margin: 50px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.contact-list {
    flex: 1;
    background-color: #36393f;
    color: #fff;
    padding: 10px;
    overflow-y: auto; /* Agregar barra de desplazamiento vertical */
    max-height: 100%;
}

.contact {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact:hover {
    background-color: #3e4249;
}

.chat-content {
    flex: 3;
    display: flex;
    flex-direction: column;
}

.chat-header {
    background-color: #f8b020;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.chat-messages {
    flex: 1;
    height: 300px; /* Altura máxima del contenedor de mensajes */
    overflow-y: scroll; /* Agregar barra de desplazamiento vertical */
    padding: 10px;
}

.chat-input {
    padding: 10px;
    display: flex;
    align-items: center;
}

.chat-input input[type="text"] {
    flex: 1;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.chat-input button {
    padding: 8px 15px;
    background-color: #f8b020;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.chat-input button:hover {
    background-color: #f8b020;
}
