@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800;900|Roboto:wght@100;300;400;500;700;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none; /*quitamos el subrayado de los enlaces */
    list-style: none; /*quitamos los puntos de los enlaces*/
    font-family: 'Exo 2', sans-serif;

}

header {
    background-color: #1d1d1d;
    height: 7rem;
    display: flex;
    justify-content: center; /* Centramos horizontalmente los elementos */
    align-items: center;
    padding: 0 1rem;
}

.menu.contenedor {
    width: 100%; /* Ajustamos el ancho al 100% para ocupar toda la barra de navegación */
    display: flex;
    justify-content: space-between; /* Distribuimos los elementos a lo largo de la barra */
    align-items: center;
}

/* .logo {
    /* flex: 1; 
} 
*/

.navbar {
    /* flex: 2; */
    text-align: center;
}

.navbar ul {
    list-style: none;
    padding: 0;
}

.navbar ul li {
    display: inline;
    margin-right: 9rem;
}

.navbar ul li:last-child {
    margin-right: 0;
}

.navbar ul li a {
    color: #f8b020;
    text-decoration: none;
}

.boton_login {
    margin-right: 25px;
    text-align: right;
}

.boton_login a {
    color: #f8b020;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border: 1px solid #f8b020;
    border-radius: 4px;
}

.boton_login a:hover {
    background-color: #f8b020;
    color: black;
}

.boton_menu {
    position: relative;
}

.boton_menu_icono {
width: 40px;
height: 40px;
background-color: #f8b020;
color: white;
border: none;
border-radius: 50%;
font-size: 24px;
cursor: pointer;
}

.menu_desplegable {
position: absolute;
top: 60px;
right: 0;
background-color: #f8b020;
border-radius: 5px;
display: none;
}

.menu_desplegable ul {
list-style-type: none;
padding: 0;
margin: 0;
}

.menu_desplegable ul li {
padding: 10px;
}

.menu_desplegable ul li a {
color: white;
text-decoration: none;
display: block;
}

.boton_menu:hover .menu_desplegable {
display: block;
}



/* BODY */

body{
    background-color: #1d1d1d;
}

body h1{
    margin-top: 20px;
    text-align: center;
    color: white;

}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 70px 25px 30px 25px;;
 
}

/* Estilos para los botones */
.botones {
    padding: 20px;
    border-radius: 8px;
    color: black;
}

.botones, .info_actual, .edicion_info {
    width: 30%;
}

.botones button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    background-color: #f8b020;
    color: black;
    cursor: pointer;
}

/* Estilos para la información actual */
.info_actual {
    background-color: #F8DCA5;
    padding: 20px;
    border-radius: 8px;
    color: black;
}

.datos_actual p {
    margin-bottom: 10px;
}

/* Estilos para la edición de información */
.edicion_info {
    background-color: #f8b020;
    padding: 20px;
    border-radius: 8px;
    color: black;
}

.datos_actualizados input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
}


/* Botón guardar cambios*/
.guardar_cambios {
    text-align: center;
    margin-top: 20px; /* Espacio entre el formulario y el botón */
}

.guardar_cambios button {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}