@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800;900|Roboto:wght@100;300;400;500;700;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none; /*quitamos el subrayado de los enlaces */
    list-style: none; /*quitamos los puntos de los enlaces*/
    font-family: 'Exo 2', sans-serif;

}

header {
    background-color: #1d1d1d;
    height: 7rem;
    display: flex;
    justify-content: center; /* Centramos horizontalmente los elementos */
    align-items: center;
    padding: 0 1rem;
}

.menu.contenedor {
    width: 100%; /* Ajustamos el ancho al 100% para ocupar toda la barra de navegación */
    display: flex;
    justify-content: space-between; /* Distribuimos los elementos a lo largo de la barra */
    align-items: center;
}

/* .logo {
    left: 20px;
} */

/*------IN--------DOS MENUS****************/
.menu-general {
    left: 0;
    display: block;
}

.menu-usuario {
    display: none;
}

/*---OUT-----------DOS MENUS****************/


.navbar {
    /* flex: 2; */
    text-align: center;
}

.navbar ul {
    list-style: none;
    padding: 0;
}

.navbar ul li {
    display: inline;
    margin-right: 9rem;
}

.navbar ul li:last-child {
    margin-right: 0;
}

.navbar ul li a {
    color: #f8b020;
    text-decoration: none;
}

.boton_login {
    margin-right: 25px;
    text-align: right;
}

.boton_login a {
    color: #f8b020;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border: 1px solid #f8b020;
    border-radius: 4px;
}

.boton_login a:hover {
    background-color: #f8b020;
    color: black;
}

/*-------------IN-------------MENU USER--------*/

.menu_user {
    position: relative;
}

.boton_menu {
    position: relative;
}

.boton_menu_icono {
width: 40px;
height: 40px;
background-color: #f8b020;
color: white;
border: none;
border-radius: 50%;
font-size: 24px;
cursor: pointer;
}

.menu_desplegable {
position: absolute;
top: 40px;
right: 0;
background-color: #f8b020;
border-radius: 5px;
display: none;
/* display: block; */
}

.menu_desplegable ul {
list-style-type: none;
padding: 0;
margin: 0;
}

.menu_desplegable ul li {
padding: 10px;
}

.menu_desplegable ul li a {
color: white;
text-decoration: none;
display: block;
}

.boton_menu:hover .menu_desplegable,
.menu_desplegable:hover {
    display: block;
}

/*-----------OUT------MENU USER*/


/* Linea Separador */
.separator {
    border: none; /* Sin borde */
    border-top: 3px solid #f8b020; /* Línea horizontal de 1px de ancho y color naranja */
    margin: 220; /* Sin margen */
    width: 100%; /* Ancho completo */
}



/* BODY */

/* BODY - Texto slogan*/
section {
    background-color: #1d1d1d; /* Fondo negro */
    width: 100%; /* Anchura horizontal que ocupa toda la ventana del navegador */
    height: 25rem;
    display: flex; /* Usar flexbox */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    padding: 20rem 18rem; /* Añadir espacio alrededor del contenido */
    margin: 0 auto; /* Centrar horizontalmente */
}

section h1 {
    color: white; /* Texto en blanco */
    font-size: 3rem;
}


/*BODY - Cajas info*/

.cajas_info_portada {
    display: flex;
    justify-content: space-between;
    background-color: #1d1d1d;
    padding: 20rem;
    margin: 0 -0.5rem; /* Ajustamos el margen negativo para compensar */
}

.caja_info {
    width: 30%; /* Reducimos el ancho */
    height: 16rem; /* Reducimos la altura */
    background-color: #f8b020;
    text-align: center;
    padding: 1rem;
    margin: 0 1.5rem; /* Reducimos el margen entre las cajas */
    box-sizing: border-box; /* Incluimos el padding y el borde en el tamaño total */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.caja_info h3 {
    color: black;
}


/*BODY - mapa estático*/

#map_img_home {   
    max-width: 100%; /* Asegura que la imagen no supere el ancho de la ventana */
    height: auto; /* Permite que la altura se ajuste automáticamente para mantener la proporción */
}

#map_img_home img {
    width: 1000px; /* Ancho de la imagen en píxeles */
    height: auto; /* Permitir que la altura se ajuste automáticamente para mantener la proporción */
    margin-top: -11rem;    
}

/*BODY - info basic*/
.info_basic{
    height: auto;
    color: white;
    display: flex;    
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en varias líneas */
    align-items: center;
    
}

.info_basic h2 {
    margin: 1.5rem; /* Agrega un espacio entre cada línea de texto */
    display: flex; 
}


/*BODY - Footer*/


.footer {
    background-color: black;
    color: white;
    padding: 50px 0;
}

.footer_contenedor {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 135px;
}

.link {
    margin-bottom: 1rem; /* Agrega espacio entre los elementos */
}

.link h3 {
    margin-bottom: 0.5rem; /* Agrega espacio debajo del título */
}

.footer_contenedor{ 
    color: #f8b020; /* Cambia el color de los hipervínculos a naranja */
}

/* LEGAL */
.info_legal{    
    margin-top: 250px;
    display: relative;
    margin-left: 300px;
    margin-right: 0;    
    padding-right: 0;
    align-items: center;
}

.info_legal ul {
    list-style: none; /* Elimina los estilos de lista */
    padding: 0;
    margin: 0;
    font-size: 11px;
}

.info_legal ul li { 
    display: inline; /* Muestra los elementos de lista en línea */
    margin-right: 1rem; /* Agrega espacio entre los elementos */
    font-size: 0.8rem; /* Tamaño de fuente más pequeño */
}

.info_legal a {
    color: #f8b020; /* Cambia el color de los hipervínculos a naranja */
}




/* Footer */

.footer {
    padding: 50px 0;
    color: #ffffff;
    background-color: #1d1d1d;        
}

.footer_contenedor {
    display: flex;
    justify-content: space-between;
    margin-left: 135px;
}

.link h3 {
    color:#ffffff;
    font-size: 17px;
    margin-bottom: 10px;
}

.link a{
    color: #f8b020;
    font-size: 15px;
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;   
}

.link a:hover {
    color: #F86E20;
}


.info_legal{    
    margin-top: 250px;
    display: relative;
    margin-left: 500px;
    margin-right: 0;    
    padding-right: 0;
}


 .info_legal a{
    color:#ffffff;
    font-size: 17px;
    margin-right: 50px;      
} 




/* Estilos para el aviso de cookies */
.cookie-consent {
    display: none; /* Inicialmente oculto */
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    padding: 10px;
}

.cookie-consent .cookie-message {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
}

.cookie-consent button {
    background-color: #f8b020;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

